.section-roadmap {
  overflow: hidden;
  // https://www.uplabs.com/posts/css-rocket-animation-with-gsap
  .frame {
    height: 100%;
    width: 200px;
    position: absolute;

    top: 0;
    bottom: 0;
    right: 0;
    @include media-breakpoint-up(lg) {
      right: auto;
      left: 50%;
      margin-left: -100px;
    }
  }

  .loader {
    position: absolute;
    width: 105px;
    left: calc(50% - 52px);
    top: calc(50% - 52px);
    animation: fadeIn 2s;
  }

  .loader-ring {
    background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/61488/loader-stars.jpg')
      no-repeat center center;
    background-size: 95px 95px;
    width: 105px;
    height: 105px;
    border-radius: 50%;
    border: 10px solid #d81f44;
  }

  .rocket-wrapper {
    position: absolute;
    left: 34px;
    top: -30px;
    height: 200px;
  }

  .rocket {
    width: 37px;
    height: auto;
  }

  .trail-wrapper {
    position: absolute;
    top: 78px;
    left: 13px;
    width: 12px;
    height: 44px;
    transform: none;
    transform-origin: top center;
    z-index: -1;
  }

  .trail {
    width: 12px;
    height: auto;
    transform: translateZ(0);
    animation: jet 0.02s ease alternate infinite;
    transform-origin: top center;
  }

  .clouds-wrapper {
    position: absolute;
    top: 13px;
    left: 10px;
    width: 88px;
    height: 85px;
    overflow: hidden;
  }

  .clouds {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 92px;
  }

  .cloud {
    animation: kaboom 0.4s ease alternate infinite;
    transform-origin: center center;
    opacity: 0.9;

    &:nth-child(odd) {
      animation: kaboom 0.3s ease alternate infinite;
    }

    &:nth-child(1) {
      animation-delay: 0.1s;
    }

    &:nth-child(2) {
      animation-delay: 0.2s;
    }

    &:nth-child(3) {
      animation-delay: 0.3s;
    }

    &:nth-child(4) {
      animation-delay: 0.4s;
    }

    &:nth-child(5) {
      animation-delay: 0.5s;
    }

    &:nth-child(6) {
      animation-delay: 0.6s;
    }

    &:nth-child(7) {
      animation-delay: 0.7s;
    }
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes kaboom {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.2);
    }
  }

  @keyframes jet {
    0% {
      transform: scale(0.9);
    }
    100% {
      transform: scale(1.2);
    }
  }
}

.section-roadmap {
  color: #fff;

  .h5 {
    margin: 10px 0 0;
    color: $primary;
    @include media-breakpoint-up(lg) {
      margin-bottom: 10px;
    }
  }

  .roadmap-update-timeline-list {
    margin: 0 $grid-gutter-width * 0.5;
    padding: 0;
    list-style-type: none;
    font-size: 12px;

    > li {
      margin-bottom: 20px;
    }
  }

  .roadmap-update-box-sub-item {
    margin-bottom: 20px;

    h6 {
      margin-bottom: 0;
    }

    @include media-breakpoint-up(lg) {
      margin-bottom: 0;
      h6 {
        margin-bottom: 10px;
      }
    }
  }

  @include media-breakpoint-up(lg) {
    margin-left: 0;
    margin-right: 0;
    min-height: 100vh;
    overflow: hidden;
    .section-title {
      position: relative;
      z-index: 2;
    }
    .frame-wrap {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      overflow: hidden;
    }
    .frame {
      @include transform(rotate(78deg));
      left: 45%;
      margin-top: 2%;
    }
    .roadmap-update-timeline-list {
      white-space: nowrap;
      text-align: center;

      > li {
        margin-bottom: 0;
        @include center();

        &:nth-child(1) {
          margin-left: -35%;
          margin-top: 1%;
        }

        &:nth-child(2) {
          margin-left: -20%;
          margin-top: -5%;
        }

        &:nth-child(3) {
          margin-left: -4%;
          margin-top: 13%;
        }

        &:nth-child(4) {
          margin-left: -6%;
          margin-top: -8%;
        }

        &:nth-child(5) {
          margin-left: 7%;
          margin-top: -10%;
        }

        &:nth-child(6) {
          margin-left: 17%;
          margin-top: -12%;
        }

        &:nth-child(7) {
          margin-left: 28%;
          margin-top: -12%;
        }

        &:nth-child(8) {
          margin-left: 40%;
          margin-top: -13%;
        }
      }

      .roadmap-update-box {
        @include flexbox();
        @include flex-direction(column);

        &:not(.roadmap-update-box-now) {
          h5 {
            @include order(2);
          }
        }
      }

      // .roadmap-update-box-now {
      //   .h5 {

      //   }
      // }
      .roadmap-update-box-sub {
        @include flexbox();

        .roadmap-update-box-sub-item {
          margin-right: 20px;
        }
      }
    }
  }
}
