.section-tokenomics {
  .tokenomics-content-chart {
    min-height: 480px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    background-image: url('../images/bg/chart.png');
    background-position: center center;
    background-size: 100% auto;
    background-repeat: no-repeat;
  }

  .tokenomics-card {
    background-color: rgba($color: #10468e, $alpha: 0.7);
    color: #fff;

    .h3 {
      text-align: center;
      margin: 0;
    }

    .card-styled-header {
      padding: 12px 0;
    }

    .card-styled-body {
      padding: 8px;
    }

    .tokenomics-table-row {
      @include flexbox();
      @include justify-content(space-between);
      margin: 8px 0;
      padding: 8px;
      background-color: #1c62b5;
      border-radius: 8px;

      &.active {
        background-color: #133c71;
      }
    }

    .tokenomics-table-th {
      font-weight: bold;
    }
  }
}
