.section-about {
  .section-title-sub{
    max-width: 900px;
  }
  .row-about-content {
    margin-top: 100px;
    div[class^='col']:not(:last-child) {
      margin-bottom: 100px;
      @include media-breakpoint-up(lg) {
        margin-bottom: 0;
      }
    }
  }

  .about-content-box {
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    color: #ffffff;
    text-align: center;
    height: 100%;

    .h3 {
      margin-top: map-get($spacers, 4);
    }
  }

  .about-content-image {
    margin-top: -80px;
    text-align: center;
    width: 120px;
    margin-left: auto;
    margin-right: auto;
    position: relative;

    .about-content-img {
      width: 100%;
      display: block;
      margin: auto;
      position: relative;
      z-index: 2;
      animation-name: spinItem;
      animation-duration: 5000ms;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
    }

    .about-content-img-over {
      @include center();
      width: 60%;
      z-index: 3;
    }

    .about-content-image-bg {
      position: absolute;
      bottom: 10px;
      right: -15px;
      width: 140px;
      display: none;
      @include media-breakpoint-up(lg) {
        display: block;
      }
    }
  }
}

@keyframes spinItem {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
