.section-playtotrade {
  .section-content {
    position: relative;
  }

  .section-playtotrade-img {
    max-width: 800px;
    margin: auto;
  }

  .section-playtotrade-list {
    margin: 0;
    padding: 0;
    list-style-type: none;

    > li {
      color: $info;
      font-weight: $font-weight-bold;
      position: relative;
      padding-left: 30px;
      margin-bottom: 15px;
      @include media-breakpoint-up(lg) {
        @include center();
        opacity: 0;
        margin-bottom: 0;
      }
      &:before,
      &:after {
        position: absolute;
        top: 0;
        left: 0;
      }

      &:before {
        content: '';
        width: 10px;
        height: 10px;
        border-radius: 50%;
        display: inline-block;
        background-color: #ffffff;
        margin: 6px;
      }

      &:after {
        content: '';
        width: 22px;
        height: 22px;
        border-radius: 50%;
        display: inline-block;
        border: 2px solid #ffffff;
      }
      @include media-breakpoint-up(lg) {
        &:nth-child(even) {
          padding-right: 30px;
          padding-left: 0;
          &:before,
          &:after {
            left: auto;
            right: 0;
          }
        }
      }

      &:nth-child(1) {
        @include transition(all 0.2s ease);
      }

      &:nth-child(2) {
        @include transition(all 0.3s ease);
      }

      &:nth-child(3) {
        @include transition(all 0.4s ease);
      }

      &:nth-child(4) {
        @include transition(all 0.5s ease);
      }

      &:nth-child(5) {
        @include transition(all 0.6s ease);
      }

      &:nth-child(6) {
        @include transition(all 0.7s ease);
      }

      &:nth-child(7) {
        @include transition(all 0.8s ease);
        @include media-breakpoint-up(lg) {
          padding-right: 30px;
          padding-left: 0;
          &:before,
          &:after {
            right: 0;
            left: auto;
          }
        }
      }
    }
  }

  &.fp-completely {
    .section-playtotrade-list > li {
      opacity: 1;
    }

    @include media-breakpoint-up(lg) {
      .section-playtotrade-list > li:nth-child(1) {
        margin-left: 23%;
        margin-top: -10%;
        width: 250px;
      }
      .section-playtotrade-list > li:nth-child(2) {
        margin-left: -16%;
        margin-top: -14%;
      }

      .section-playtotrade-list > li:nth-child(3) {
        margin-left: 22%;
        margin-top: 0%;
      }

      .section-playtotrade-list > li:nth-child(4) {
        margin-left: -22%;
        margin-top: -8%;
      }

      .section-playtotrade-list > li:nth-child(5) {
        margin-left: 18%;
        margin-top: 9%;
      }

      .section-playtotrade-list > li:nth-child(6) {
        margin-left: -19%;
        margin-top: 9%;
      }

      .section-playtotrade-list > li:nth-child(7) {
        margin-left: -22%;
        margin-top: 0%;
      }
    }
  }
}
