.profile-box-wrap {
  max-width: 1200px;
  margin: auto;
}

.profile-box {
  max-width: 300px;
  text-align: center;
  margin: 0 auto;
  color: #ffffff;
  padding: 0 10px;

  .profile-box-img {
    background-image: url('../images/bg/avatar.png');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center 0;
    padding: 45px;
    margin-left: -10px;
    margin-right: -10px;
    position: relative;

    .profile-box-img-image {
      display: block;
      width: 100%;
      border-radius: 50%;
    }

    .profile-box-img-icons {
      position: absolute;
      bottom: 30px;
      left: 0;
      right: 0;
      text-align: center;
      display: flex;
      justify-content: center;

      a {
        display: inline-block;
      }

      img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 2px solid #fff;
      }
    }
  }

  .h3 {
    font-size: 18px;
    margin: -15px 0 15px 0;
    font-family: $font-family-base;
    // text-transform: uppercase;
  }

  .h4 {
    color: $primary;
    font-size: 16px;
    text-transform: uppercase;
    font-family: $font-family-base;
  }

  p {
    font-size: 14px;
  }
}
