.section-partners {
  @include media-breakpoint-up(lg) {
    .section-partner-space {
      padding-top: 100px;
      padding-bottom: 50px;
    }
  }
}

.section-partners-content {
  margin: 30px 0;
}


