.section-partner {
  @include media-breakpoint-up(lg) {
    .section-partner-space {
      padding-top: 100px;
      padding-bottom: 50px;
    }
  }
}

.section-partner-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;

  > li {
    display: inline-block;
    width: 72px;
    height: 72px;
    background-image: url('../images/bg/partner.png');
    background-size: cover;
    padding: 5px;
    margin: 8px;
    img {
      width: 100%;
    }
  }
}
