/* ==========================================================================
Content
========================================================================== */
// .app-loading {
//  display: none;
// }

.section-hero {
  background-image: url('../images/bg/bg-hero.jpg?v=1.0.2');
}

.section-video-trailer {
  background-image: url('../images/bg/bg-video-trailer.jpg?v=1.0.2');
}

.section-about {
  background-image: url('../images/bg/bg-about.jpg?v=1.0.2');
}

.section-gamesystem {
  background-image: url('../images/bg/bg-gamesystem.jpg?v=1.0.2');
}

.section-playtotrade {
  background-image: url('../images/bg/bg-playtotrade.jpg?v=1.0.2');
}

.section-tokenomics {
  background-image: url('../images/bg/bg-tokenomics.jpg?v=1.0.2');
}

.section-tokenomics-2 {
  background-image: url('../images/bg/bg-tokenomics.jpg?v=1.0.2');
}

.section-roadmap {
  background-image: url('../images/bg/bg-roadmap.jpg?v=1.0.2');
}

.section-roadmap-update {
  background-image: url('../images/bg/bg-roadmap.jpg?v=1.0.2');
}

.section-core-team {
  background-image: url('../images/bg/bg-core-team.jpg?v=1.0.2');
}

.section-advisors {
  background-image: url('../images/bg/bg-advisors.jpg?v=1.0.2');
}

.section-investors {
  background-image: url('../images/bg/bg-investors.jpg?v=1.0.2');
}

.section-partners {
  background-image: url('../images/bg/bg-partners.jpg?v=1.0.2');
}
.section-footer {
  background-image: url('../images/bg/bg-footer.jpg?v=1.0.2');
}

.wrapper {
  overflow: hidden;
}


@include media-breakpoint-down(md) {
  .is-animated {
    -webkit-animation: none !important;
    -moz-animation: none !important;
    -o-animation: none !important;
    -ms-animation: none !important;
    animation: none !important;
  }

  .fp-section,
  .fp-tableCell {
    height: auto !important;
  }
}

.section {
  position: relative;
  z-index: 1;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  .section-container {
    padding-top: 60px;
    padding-bottom: 60px;
    @include media-breakpoint-up(lg) {
      padding-bottom: map-get($spacers, 3);
    }
  }

  .section-title {
    text-align: center;
    text-transform: uppercase;
    margin: map-get($spacers, 4) 0 0;
    color: $primary;
  }

  .section-title-sub {
    color: #ffffff;
    max-width: 600px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: map-get($spacers, 4);
    font-size: 14px;
  }
}


.slider-items {
  margin: 0 auto;

  .slick-prev,
  .slick-next {
    font-size: 0;
    width: 46px;
    height: 60px;
    margin: 0;
    padding: 0;
    border-width: 0;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 10;

    &.slick-disabled {
      visibility: hidden;
    }
  }

  .slick-prev {
    left: 0;
    background-image: url('../images/slide-prev.png');
  }

  .slick-next {
    right: 0;
    background-image: url('../images/slide-next.png');
  }

  @include media-breakpoint-up(lg) {
    .slick-prev {
      left: -$grid-gutter-width * 0.5;
    }
    .slick-next {
      right: -$grid-gutter-width * 0.5;
    }
  }
}

.list-styled {
  margin: 0;
  padding: 0;
  list-style-type: none;

  > li {
    position: relative;
    padding-left: 25px;
    margin-bottom: 5px;

    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      background-image: url('../images/list-styled.png');
      width: 20px;
      height: 20px;
      background-size: cover;
    }
  }
}

#fp-nav {
  ul li a {
    width: 14px;
    height: 14px;
    border: 1px solid #ffffff;
    border-radius: 50%;

    span {
      background-color: #ffffff;
    }

    &.active {
      background-color: #ffffff;
    }
  }
}

.nav-social {
  @include center(false, true);
  position: fixed;
  left: 0;
  z-index: $zindex-offcanvas-backdrop - 1;
  display: none;
  @include media-breakpoint-up(lg) {
    display: block;
  }

  .nav-social-list {
    margin: 0;
    padding: 0;
    list-style-type: none;

    > li {
      margin-bottom: 5px;

      a {
        display: inline-block;
        background-image: url(../images/bg/gamesystem-el.png);
        background-size: cover;
        padding: 8px;
        width: 50px;
        height: 50px;

        img {
          width: 100%;
          // filter: grayscale(0%);
          opacity: 1;
          @include transition($transition-base);
        }

        &:hover,
        &:focus,
        &:active {
          img {
            // filter: grayscale(100%);
            opacity: 0.6;
          }
        }
      }
    }
  }
}

.section-list-items {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;

  > li {
    display: inline-block;
    width: 152px;
    height: 152px;
    background-image: url('../images/bg/partner.png');
    background-size: cover;
    padding: 10px 12px;
    margin: 8px;

    img {
      width: 100%;
      border-radius: 4px;
    }
  }
}
