/* ==========================================================================
Footer
========================================================================== */
.footer {
  color: #ffffff;
  @include media-breakpoint-up(lg) {
    margin-bottom: 30px;
  }

  .list-unstyled {
    > li {
      margin-bottom: 5px;
    }

    a {
      display: block;
      color: inherit;
      text-decoration: none;

      &:hover,
      &:focus,
      &:active {
        color: $primary;
      }
    }
  }

  .logo-footer {
    display: inline-block;
    margin-bottom: 10px;

    img {
      height: 100px;
    }
  }
}
.footer-nav-social {
  text-align: center;
  @include media-breakpoint-up(lg) {
    text-align: left;
  }
}
