/* ==========================================================================
Header
========================================================================== */
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;

  .navbar {
    background-color: rgba(#000, 0.7);

    .nav-link {
      font-family: $headings-font-family;
      text-transform: uppercase;
      color: #fff;

      &:hover,
      &:focus,
      &:active {
        color: $primary;
      }
    }
  }

  .alert {
    border-radius: 0;
    margin-bottom: 0;
    padding: 5px 8px;
  }

  .alert-dismissible .btn-close {
    padding: 10px;
  }
}

.navbar-brand {
  img {
    height: 50px;
  }
}

@include media-breakpoint-up(lg) {
  .navbar-brand {
    img {
      height: 100px;
    }
  }
  .header {
    .container-fluid {
      position: relative;
    }

    .navbar-brand {
      @include center(true, false);
      top: -10px;

      img {
        height: 80px;
      }
    }
  }

  .navbar .navbar-nav {
    @include align-items(center);

    .nav-link {
      padding-left: map-get($spacers, 3);
      padding-right: map-get($spacers, 3);
    }
  }
}
