.list-social {
  margin: 0;
  padding: 0;
  list-style-type: none;

  > li {
    display: inline-block;
    margin-right: 10px;
  }

  img {
    height: 24px;
  }
}

.section-list-items {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;

  > li {
    display: inline-block;
    width: 152px;
    height: 152px;
    background-image: url('../images/bg/partner.png');
    background-size: cover;
    padding: 10px 12px;
    margin: 8px;

    img {
      width: 100%;
      border-radius: 4px;
    }
  }

  &.section-list-sm-items {
    > li {
      width: 120px;
      height: 120px;
      padding: 15px;
    }
  }
}
